<html>
  <head>
    <title>Storage</title>
    <link rel="stylesheet" type="text/css" href="/data/index.css">
    <script type="text/javascript" src="/data/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/data/js/jquery-nivo.slider.min.js"></script>
    <script type="text/javascript" src="/data/js/general.js"></script>
    <script src="/data/js/scripts.js"></script>
    </head>
    <body>
    <div class="header">
        <table class="head">
          <tr><td>
        <table class="menu">
          <tr><td><div align="center"><a href="/base/">Home</a></div></td>
          <td><div align="center"><a href="/logout/">Logout</a></div></td>
          </tr>
        </table></td>
        <td>
        <div align="right">
        <table>
          <tr>
            <td><img src="/data/icons/small/save.png"></td>
            <td>Disk usage: {{ user_p.disk_usage|filesizeformat }} / {{ user_p.max_disk_usage|filesizeformat }}</td>
          </tr>
        </table>
        </td>
        </table>
    </div>
    <p/>
    
    <pre>    
    <table class="main">
    <tr><td>
    
    <table class="style2">
    <tr>
      <td>
          <a href="/base/{{ current_folder.parent.id }}"><img src="/data/icons/folder.up.png"></a>
          <a href="/base/{{ current_folder.parent.id }}"><font size="3">[..]</font></a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="/data/icons/folder.open.png">
          {% if current_folder.parent %}
            {{ current_folder.name }}
          {% else %}
            My files
          {% endif %}
      </td>
    </tr>
    </table>
    
    <table class="style1">
     <colgroup>
        <col style="width:16px" />
        <col style="width:452px"/>
        <col style="width:16px" />
        <col style="width:16px" />
    </colgroup>
    <tbody>
    {% for folder in folders %}
       <tr>
         <td><img src="/data/icons/folder.png"></td>
         <td><a href="/base/{{ folder.id }}">{{ folder.name }}</a></td>
         <td></td>
         <td><span class="more"><a href="/delete/{{ folder.id }}"><img src="/data/icons/small/delete.gif"></a></span></td>
       </tr>
    {% endfor %}
    
    {% for file in files %}
      <tr>
      <td>
      {% if file.extension in "png, jpg, jpeg, bmp, gif" %}
      <img src="/data/icons/image2.png"></td>
      <td><a href="javascript:void(0)" onclick="OpenImageOverlay('/open/{{ file.path }}',
      {% elif file.extension in "rar, tar, zip" %}
      <img src="/data/icons/generic.sec.png"></td>
      <td><a href="javascript:void(0)" onclick="OpenImageOverlay('/data/mimes/White/application-x-rar.svg',
      {% elif file.extension in "pdf" %}
      <img src="/data/icons/pdf.png"></td>
      <td><a href="javascript:void(0)" onclick="OpenImageOverlay('/data/mimes/White/application-pdf.svg',
      {% elif file.extension in "avi, mp4" %}
      <img src="/data/icons/movie.png"></td>
      <td><a href="javascript:void(0)" onclick="OpenImageOverlay('/data/mimes/White/video-x-generic.svg',
      {% elif file.extension in "docx, doc, txt, djvu, fb2" %}
      <img src="/data/icons/text.png"></td>
      <td><a href="javascript:void(0)" onclick="OpenImageOverlay('/data/mimes/White/application-vnd.oasis.opendocument.text.svg',
      {% elif file.extension in "flac, mp3" %}
      <img src="/data/icons/sound2.png"></td>
      <td><a href="javascript:void(0)" onclick="OpenImageOverlay('/data/mimes/White/audio-x-generic.svg',
      {% elif file.extension in "py, pyw, pyc" %}
      <img src="/data/icons/script.png"></td>
      <td><a href="javascript:void(0)" onclick="OpenImageOverlay('/data/mimes/White/text-x-python.svg',
      {% else %}
      <img src="/data/icons/unknown.gif"></td>
      <td><a href="javascript:void(0)" onclick="OpenImageOverlay('/data/mimes/White/multipart-encrypted.svg',
      {% endif %}
      '{{ file.path }}' ,'{{ file.name }}', '{{ file.size|filesizeformat }}','{{ file.owner }}', '{{ file.last_modified|date }} {{ file.last_modified|time }}')">{{ file.name }}</a>
      </td>
      <td>
        <span class="more"><a href="/download/{{ file.path }}" ><img src="/data/splashyicons/download.png"></a></span>
      </td>
      <td>
        <span class="more"><a href="/delete/{{ file.path }}"><img src="/data/icons/small/delete.gif"></a></span>
      </td>
      </tr>
    {% endfor %}
    </tbody>    
    </table>
    <hr>
    <table>
    <tr><td>
    <form action="/upload/{{ current_folder.id }}" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ upload_form.file }}<input type="submit" name="file_upload" value="Upload file">
    </form>
    </td></tr> 
    <tr><td>
    <form action="" method="post">{% csrf_token%}
      {{ create_form.name }}<input type="submit" name="folder_create" value="Create folder">
    </form>
    </td></tr>
    </table>
    </td>
    <td>
      <div class="overlay">
      <div id="file_overlay">
        <table align="center">
        <tr><td align='center'><div id="fileImage"></div><div id="fileImageSub"></div></td></tr>
        <tr><td align='center'><div id="fileDelDown"></div></td></tr>
        <tr><td>
          <table class='infotable' align='center'>
            <tr><td align='right'>Name :</td><td align='left'><div id="fileName"></div></td></tr>
            <tr><td align='right'>Size :</td><td align='left'><div id="fileSize"></div></td></tr>
            <tr><td align='right'>Owner :</td><td align='left'><div id="fileOwner"></div></td></tr>
            <tr><td align='right'>Last modified :</td><td align='left'><div id="fileLastModified"></div></td></tr>
          </table>
        </td></tr>
        </table>
      </div>
      </div>
    </td> 
    </tr>
    </table>
    </pre>
  </body>
</html>