<head>
<link rel="stylesheet" type="text/css" href="/data/index.css">
</head>
<body>
{% block content %}
{% if form.errors %}
<p><div align='center'>Your username and password didn't match. Please try again.</div></p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
 <div align="center">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<table>
<tr><td><div align='center'><input type="submit" value="Login" /></div></tr></td>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<tr><td><div align='center'><a href="{% url 'password_reset' %}">Lost password?</a></div></tr></td>
<tr><td><div align='center'><a href="/register/">Register</a></div></td></tr>
<tr><td><div align='center'><a href="/">Home</a></div></td></tr>
</table>
</div>
{% endblock %}
</body>