<head><link rel="stylesheet" type="text/css" href="/data/index.css"></head>
<body> 
 <div align="center">
 Create new user:
<form action="" method="post">
 {% csrf_token%}
 <table>
   <tr><td><div align='center'>Username:</div></td><td>{{ form.username }}</td></tr>
   <tr><td><div align='center'>Password:</div></td><td>{{ form.password1 }}</td></tr>
   <tr><td><div align='center'>Confirm password:</td><td>{{ form.password2 }}</td></tr>
 </table>
 <table>
   <tr><td><div align='center'><input type="submit" value="Register"></div></td></tr>
   <tr><td><div align='center'><a href="/">Home</a></div></td></td></tr>
 </table>
 </div>
 </body>