@font-face {
    font-family: TexGyre;
    src: url('/data/fonts/TeX-Gyre-Heros/texgyreheros-regular.otf') format("opentype");
}
@font-face {
    font-family: TexGyre;
    font-weight: bold;
    src: url('/data/fonts/TeX-Gyre-Heros/texgyreheros-bold.otf') format("opentype");
}

body {
  background: #dfdfdf;
  color: #333;
  margin: 0px;
  }

hr {
    border: none;
    color: black;
    background-color: black;
    height: 1px;
   }

a:link {
  text-decoration: none;
  color: #222;
  }
a:visited {
  text-decoration: none;
  color: #777;
  }
a:hover, a:active {
  text-decoration: none;
  color: black;
  }

.header {
  background: #222222;
  width: 100%;
  margin: 0px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,100);
  }

.header a:link{
  font-family: TexGyre;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #b8b8b8;
  }

.header a:visited {
  font-family: TexGyre;
  letter-spacing: 3px;
  text-decoration: none;
  color: #b8b8b8;
  }
.overlay img {
  max-height: 440px;
  max-width: 90%;
  }

.overlay {
  min-height: 400px;
  background: #dfdfdf;
  border-width: 1px;
  visibility: hidden;
  width: 700px;
  }

#fileImage img {
  margin: 0px 0px 14px 0px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,100);
  }

table.head {
  font-family: TexGyre; letter-spacing: 1px;
  text-shadow: 0px 0.5px 2px rgba(0,0,0,0.4);
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  }

table.head td {
  color: #b8b8b8;
  font-size: 16px;
  }

table.infotable td {min-width: 150px;}
table.menu {
  width: 350px;
  border-collapse: collapse;
  }

table.menu td:hover a:link {
  color: #fff;
  }
table.menu td:hover a:visited {
  color: #fff;
  }

table.main {
  width: 100%;
  }
table.main td {
  vertical-align: top;
  }

table.style1 {
  font: 16px Courier;letter-spacing: 0px;
  border-collapse: collapse;
  width: 500px;
  margin: 0px 25px;
}

table.style1 td {
  min-width: 18px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

table.style1 tr:hover{background-color:#c8c8c8;} 
.more { display: none; }
table.style1 tr:hover .more { display: inline; }

table.style1 img {
  display: inline;
  height: 16px;
  }

table.style2 {
  font: 16px Courier;letter-spacing: 0px;
  margin: 0px 10px;
  border-collapse: collapse;
  width: 40%;
  }

table.style2 img {
  display: inline;
  height: 16px;
  }

pre {
  font: 0px Courier;
  }

.feature                            { width:523px; height:294px; padding:8px 14px 8px 13px;  overflow:hidden; }
.feature-inner                      { width:523px; height:294px; box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.5); }
/** Nivo Slider **/
.nivoSlider                         { position:relative; }
.nivoSlider img                     { position:absolute; top:0px; left:0px; }
.nivoSlider a.nivo-imageLink        { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none; }
.nivo-slice                         { display:block; position:absolute; z-index:5; height:100%; }
.nivo-box                           { display:block; position:absolute; z-index:5; }
.nivo-caption                       { position:absolute; left:0px; bottom:0px; background:#000; color:#fff; width:100%; z-index:8; }
.nivo-caption p                     { padding:5px; margin:0; }
.nivo-caption a                     { display:inline !important; }
.nivo-html-caption                  { display:none; }
